*{
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    text-align: center;
    /* flex-wrap: wrap; */
    /* position: absolute; */
    /* width: 540px; */
    /* height: 63px; */
    /* left: 285px; */
    /* top: 40px; */  
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

main{
    /* background-color: blue; */
    height: auto;
    width: 70vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 5vh;
    margin-bottom: 5vh;
}

.card{
    background-color: aqua;
    margin: 17px;
    width: 117px;
    height: 146px;
    position: relative;
    /* border: 1px solid #99CEA8; */
    transform-style: preserve-3d;
    transform: all .5s;

    display: flex;
    justify-content: center;
}

.face{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    backface-visibility: hidden;
    /* -webkit-backface-visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.front-face{
    transform: rotateY(180deg);

}

.back-face{
    
}

.flip{
    transform: rotateY(180deg);
}

img{
    width: 100px;
    height: 100px;
}

.clock{
    /* background-color: blueviolet; */
    /* width: 20px; */
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    right: 10%;

}

.clock h1, p{
    color: red;
    font-size: 22px;
    font-style: normal;
}

@media (max-width: 750px){
    main{
        width: 70vw;  
    }

    .clock{
        /* background-color: blueviolet; */
        /* width: 20px; */
        height: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 42%;
        right: 8%;
    
    }

}