*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

main{
    height: auto;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.card{
    margin: 17px;
    width: 117px;
    height: 146px;
    transform-style: preserve-3d;
    transition: all .5s;
    display: flex;
    justify-content: center;
    position: relative;
}

.face{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #99CEA8;
    background-color: #A7E9AF;
    box-shadow: 7px 5px 19px 3px rgba(0,0,0,0.25);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
}

.front-face{
    transform: rotateY(180deg);
}

.back-face{
}

.flip{
    transform: rotateY(180deg);
}

img{
    width: 100px;
    height: 100px;
}

.clock{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    right: 10%;

}

.clock h1, p{
    color: red;
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 750px){
    main{
        width: 70vw;  
    }

    .clock{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 42%;
        right: 5%;
    
    }
}